<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>sakshi1</display-name>
	<servlet>
		<servlet-name>demo1</servlet-name>
		<display-name>demo1</display-name>
		<description></description>
		<servlet-class>demo1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>s2</servlet-name>
		<display-name>s2</display-name>
		<description></description>
		<servlet-class>s2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cust</servlet-name>
		<display-name>cust</display-name>
		<description></description>
		<servlet-class>cust</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ctab</servlet-name>
		<display-name>ctab</display-name>
		<description></description>
		<servlet-class>ctab</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>s1</servlet-name>
		<display-name>s1</display-name>
		<description></description>
		<servlet-class>s1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>S1</servlet-name>
		<display-name>S1</display-name>
		<description></description>
		<servlet-class>S1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo1</servlet-name>
		<url-pattern>/demo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cust</servlet-name>
		<url-pattern>/cust</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ctab</servlet-name>
		<url-pattern>/ctab</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S1</servlet-name>
		<url-pattern>/S1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
