<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>kolekar</display-name>
	<servlet>
		<servlet-name>s2</servlet-name>
		<display-name>s2</display-name>
		<description></description>
		<servlet-class>s2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>t1</servlet-name>
		<display-name>t1</display-name>
		<description></description>
		<servlet-class>t1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gmsg</servlet-name>
		<display-name>gmsg</display-name>
		<description></description>
		<servlet-class>gmsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>q1</servlet-name>
		<display-name>q1</display-name>
		<description></description>
		<servlet-class>q1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>s1</servlet-name>
		<display-name>s1</display-name>
		<description></description>
		<servlet-class>s1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>s23</servlet-name>
		<display-name>s23</display-name>
		<description></description>
		<servlet-class>s23</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cd</servlet-name>
		<display-name>cd</display-name>
		<description></description>
		<servlet-class>cd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>t1</servlet-name>
		<url-pattern>/t1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gmsg</servlet-name>
		<url-pattern>/gmsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>q1</servlet-name>
		<url-pattern>/q1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s23</servlet-name>
		<url-pattern>/s23</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cd</servlet-name>
		<url-pattern>/cd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
