<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>HomeWork</display-name>
	<servlet>
		<servlet-name>q1</servlet-name>
		<display-name>q1</display-name>
		<description></description>
		<servlet-class>q1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>q2</servlet-name>
		<display-name>q2</display-name>
		<description></description>
		<servlet-class>q2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Q2</servlet-name>
		<display-name>Q2</display-name>
		<description></description>
		<servlet-class>Q2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>S1</servlet-name>
		<display-name>S1</display-name>
		<description></description>
		<servlet-class>S1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SQ</servlet-name>
		<display-name>SQ</display-name>
		<description></description>
		<servlet-class>SQ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>N2</servlet-name>
		<display-name>N2</display-name>
		<description></description>
		<servlet-class>N2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Q22</servlet-name>
		<display-name>Q22</display-name>
		<description></description>
		<servlet-class>Q22</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>S2</servlet-name>
		<display-name>S2</display-name>
		<description></description>
		<servlet-class>S2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>q1</servlet-name>
		<url-pattern>/q1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>q2</servlet-name>
		<url-pattern>/q2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Q2</servlet-name>
		<url-pattern>/Q2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S1</servlet-name>
		<url-pattern>/S1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQ</servlet-name>
		<url-pattern>/SQ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>N2</servlet-name>
		<url-pattern>/N2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Q22</servlet-name>
		<url-pattern>/Q22</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S2</servlet-name>
		<url-pattern>/S2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
